    .cabecalho__menu-hamburguer {
     background-image: url("../img/Menu.svg"); 
     width: 50px;
     height: 50px;
     display: inline-block;
     background-repeat: no-repeat;
     background-position: center;
     
    }

    .conteiner__botao:checked~ .conteiner__rotulo > .cabecalho__menu-hamburguer{
        background-image: url("../img/MenuAberto.svg");
    }

    .conteiner__botao:checked ~ .conteiner__rotulo{
        background: var(--azul-degrade); 
    }

    .cabecalho{
        background-color:var(--fundo-branco);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .conteiner {
        display: flex;
        align-items: center;
        padding: 0.3em;
    }

   .conteiner__imagem {
        padding: 1em;
   }

   .lista-menu {
    display:none;
    position: absolute;
    top:80%;
    width: 65vw;
    
    
   }

   .conteiner__botao:checked~.lista-menu{
    display:block;
   }

    .lista-menu__titulo, .lista-menu__item {
        padding: 1em ;
        background-color: var(--fundo-branco);
        
    }

    .lista-menu__titulo{
        color: var(--laranja);
        font-weight: 700;
        
    }
    .lista-menu__link{
    color: var( --azul-claro);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    
    }

    .conteiner__botao {
        display: none;
    }

    .conteiner__titulo{
        display: none;
    }

    .opcoes{
        display: none;
    }

    .conteiner__texto{
        display: none;
    }

   
  
    @media screen and (min-width: 1024px) {
        .conteiner__titulo,.conteiner__titulo-negrito{
            font-family: var(--font-secundaria);
            font-size: 30px;
        }

        .conteiner__titulo{
            font-weight: 400;
            display: block;
        }

        .conteiner__titulo-negrito{
            font-weight: 700;
        }

        .conteiner__texto{
            transition: 500ms;
        }

        .opcoes{
            display: flex;
        }

        .opcoes__item{
            padding: 0 1.5em;
            text-transform: uppercase;
        }

        .opcoes__link{
            text-decoration: none;
            color: var(--preto);
            padding: 1em;
            transition: 500ms;
        }

        .conteiner__imagem-transparente{
            display: none;
        }

        .cabecalho__menu-hamburguer{
            display: none;
        }
        
        .opcoes__botao:checked~.lista-menu{
            display: block;
            width: auto;
        }

        .opcoes__botao{
            display: none;
        }
    
        .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item{
            background: var(--azul-degrade);
            color: var(--fundo-branco);
        }

        .opcoes__item{
            padding: 1.2em;
            transition: 500ms;
        }
        .lista-menu__item{
            transition: 500ms;
        }
    
        .lista-menu__item:hover{
            background: var(--azul-degrade);
    
        }
        .lista-menu__item:hover > .lista-menu__link {
           color: var(--fundo-branco);
        }

        .opcoes__link:hover, .conteiner__texto:hover {
            color: var(--azul-piscina);
        }

    }


    @media screen and (min-width:1728px) {
        .conteiner__link{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--preto);
        }
        
        .cabecalho{
            padding: 0 2em;
        }

        .opcoes{
            margin-right: auto;
        }

        .conteiner__texto{
            display: block;
        }

    }